.todo, .todo--delete {
<<<<<<< HEAD
  border-bottom: 1px solid #e0e0e0;
}

.todo--delete {
  background-color: rgba(red, .7);
  cursor: pointer;
  margin-bottom: -1px;
  transition: margin-left .3s;

  &:hover {
    margin-left: -10px;
  }

  &:active {
    margin-left: -500%;
  }
}

.todo--check {
  background-color: rgba(red, .4);
  cursor: pointer;
  margin-bottom: -1px;
  transition: margin-left .3s;

  &:hover {
    background-color: rgba(green, .4);
    margin-left: -10px;
  }

  &:active {
    background-color: rgba(green, .7);
    margin-left: -500%;
  }
}

.todo-wrapper {
  width: 83%;
  display: inline-block;
  float: left;
}

.todo-delete-wrapper {
  width: 17%;
  display: inline-block;
  float: left;

  i {
    padding-left: 42%;
    color: white;
  }
}
=======
    border-bottom: 1px solid #e0e0e0;
}

.todo--delete {
    background-color: rgba(red, .7);
    cursor: pointer;
    margin-bottom: -1px;
    transition: margin-left .3s;

    &:hover {
        margin-left: -10px;
    }

    &:active {
        margin-left: -500%;
    }
}

.todo-wrapper {
    width: 83%;
    display: inline-block;
    float: left;
}

.todo-delete-wrapper {
    width: 17%;
    display: inline-block;
    float: left;

    i {
        padding-left: 42%;
        color: white;
    }
}
>>>>>>> 06e09e9e10695975fd526a5000f633aed0a51ab3
